.cabecalho{
  width: 550px !important;
  margin-left: 15%;
} 

.content { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}

ul {
  list-style: none !important;
}

li {
  margin: 2em;
}
 
.label{
  width: 10%;    
  /* margin-left: 10%;
  font-size: 18px;
  padding: 10px;
  margin-right: 5px; */
}

.input_texto{
   width: 50px; 
  /* margin-top: auto; */
  /* margin-left: 5px !important; */
}

.input_range{
  width: 100px !important;
}

.imagem_rgb{
  width: 50px ;
  height: 50px;
  margin-left: 50%;
}


.change_color{
  color: blue;
  font: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 43;
  justify-content: flex-end !important;
}