.header{
    width: 550px !important;
    margin-top: auto;
    margin-left: 20px !important;
}

.body{
    justify-content: left;
    margin-left: 10% ;
    border-color: black;
    border: 2;
}

input{
    border-color: gray;
    width: 40%;
}