form {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 5%;
    width: 35%;
    height: 35%;
}

ul,
li {
    list-style-type: none;
}

.clickable {
    cursor: pointer;
}

.deleteButton {
    color: white;
    font-weight: bold;
    background-color: darkred;
    margin-right: 10px;
    border-radius: 50%;
}