.slider-wrapper {
    display: unset;
    width: 200px;
    height: 50px;
    padding: 0;
    margin-top: 10%;
  }

  .slider-wrapper input {
    width: 150px;
    height: 20px;
    margin-left: 15%;
    transform-origin: 85px 85px;
    transform: rotate(0deg);
    
  }

  .range_red{
    background: rgba(247, 3, 3, 0.863) !important;
 }

  .texto_cor{
      margin-left: 10%;
   
      font-size: 18px;
      vertical-align: middle;
      display: grid;
  }

  .texto{
      width: 50px !important;
      margin-top: auto;
      margin-left: 20px !important;
  }
.texto_principal{
    width: 250px !important;
    height: 250px !important;
      text-align: center;
      margin-top: 60px;
      margin-left: 10%;
      vertical-align: middle;
}

.content{
    align-items: center !important;
    align-content: center !important;
    padding: 20 ;
    margin-top: 15%;
}

.cabecalho{
    width: 550px !important;
    margin-left: 15%;
}